body {

    background: #71a3ff;

    display: flex;

    justify-content: center;

    align-items: center;

    height: 100vh;

    flex-direction: column;

}

*{

    font-family: sans-serif;

    box-sizing: padding-box;

}

form {

    width: 1000px;

    border: 3px solid rgb(0, 0, 0);

    padding: 20px;

    background: rgb(255, 255, 255);

    border-radius: 20px;

}

h2 {

    text-align: center;

    font-size: xx-large;

    margin-bottom: 40px;

}

input {

    display: block;

    border: 2px solid #6b6b6b;

    width: 95%;

    padding: 10px;

    margin: 10px auto;

    border-radius: 5px;

}

label {

    color: #000000;

    font-size: 18px;

    padding: 10px;

}

button {

    float: right;

    background: rgb(45, 98, 243);

    padding: 10px 15px;

    color: #fff;

    border-radius: 5px;

    margin-right: 10px;

    border: none;

}

button:hover{

    opacity: .70;

}

.error {

   background: #ff6e6e;

   color: #0c0101;

   padding: 10px;

   width: 95%;

   border-radius: 5px;

   margin: 20px auto;

}

h1 {

    text-align: center;

    color: rgb(134, 3, 3);

}

a {

    float: right;

    background: rgb(70, 110, 241);

    padding: 10px 15px;

    color: #fff;

    border-radius: 10px;

    margin-right: 10px;

    border: none;

    text-decoration: none;

}

a:hover{

    opacity: .7;

}